<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DBconnect</servlet-name>
        <servlet-class>com.muk.marketingcampaign.database.DBconnect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>agentLoginServlet</servlet-name>
        <servlet-class>servlets.agentLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminLoginServlet</servlet-name>
        <servlet-class>servlets.adminLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>scheduleServlet</servlet-name>
        <servlet-class>servlets.scheduleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerServlet</servlet-name>
        <servlet-class>servlets.registerAgentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DBconnect</servlet-name>
        <url-pattern>/DBconnect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>agentLoginServlet</servlet-name>
        <url-pattern>/agentLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminLoginServlet</servlet-name>
        <url-pattern>/adminLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>scheduleServlet</servlet-name>
        <url-pattern>/scheduleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerServlet</servlet-name>
        <url-pattern>/registerServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
